{% extends 'base.html' %}

{% block content %}

{% if request.user.is_customer %}
<section class="container mt-5 bg-dark">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Panel użytkownika</h1>
            <font size="+1">Witaj w dziale pomocy technicznej korporacji XYZ. Jeśli napotkałeś/napotkałaś problem na swoim stanowisku pracy lub z użytkowanym sprzętem utwórz zgłoszenie w zakładce <b>Utwórz Nowe Zgłoszenie</b>. Po wypełnieniu formularza i wysłaniu go zostanie on skierowany do działu technicznego. Technicy będą starali się rozwiązać twój problem przesyłając propozycje rozwiązań lub gdy zajdzie potrzeba odwiedzą twoje stanowisko. Stan swojego zgłoszenia możesz sprawdzać w zakładce <b>Sprawdź Zgłoszenia</b> klikając <b>Szczegóły Zgłoszenia</b> możesz sprawdzić odpowiedzi od techników. Pamiętaj że czas oczekiwania na przyjęcie twojego zgłoszenia zależy od liczby dostępnych techników, ilości zgłoszeń oraz godziny wysłania zgłoszenia. Prosimy o cierpliwość</font>
        </div>  
</section>

{% elif request.user.is_engineer %}
<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Panel technika</h1>
            <font size="+1">Jako pracownik działu pomocy technicznej przeglądaj zgłoszenia w zakładce <b>Lista Zgłoszeń</b>. Po zaakceptowaniu zgłoszenia zostaniesz przeniesiony do zakładki <b>Obsługiwane zgłoszenia</b> w której będziesz mógł zapoznać się ze szczegółami zgłoszenia oraz wymieniać wiadomości z użytkownikami. Pamiętaj o tym aby przed zamknieciem zgłoszenia upewnić się że problem/y dotyczące zgloszenia został rozwiązane. Zamknięte zgłoszenia możesz sprawdzić w zakładce <b>Zamkniete Zgłoszenia</b>.</font>
        </div>  
</section>
{% endif %}
{% endblock content %}