{% extends 'base.html' %}

{% block content %}

{% if request.user.is_customer %}
<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Panel użytkownika</h1>
            <p class="col-md-8 fs-4">Lorem ipsum dolor</p>
            <button class="btn btn-primary btn-lg" type="button">Przycisk</button>
        </div>  
</section>

{% elif request.user.is_engineer %}
<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Panel technika</h1>
            <p class="col-md-8 fs-4">Lorem ipsum dolor</p>
            <button class="btn btn-primary btn-lg" type="button">Przycisk</button>
        </div>  
</section>
{% endif %}
{% endblock content %}